azulOscuro = #0B0b61
grisFondo = #E8E8E8
grisOscuro = #6E6E6E
tamanoLetra = 16px
naranja = #DD4F24
azul = #22BCE0

body
	background grisFondo
	font-family Arial
	font-size tamanoLetra	
	
	header
		background azulOscuro
		box-shadow 0 5px 0 rgba(0,0,0,0.2)
		color white
		height 100px
		
		.header-logo			
			float left					
			padding 0.5em
			width 100px		
			
			img
				border-radius 1em
				border-right 2px solid white				
				padding 0.8em
				width 60px
		
	.login
		height 350px
		
		.login-panel
			background naranja
			border-radius 20px
			height 320px
			margin 30px auto
			width 350px
			text-align center				
				
			.login-panel-imgTwitter				
				
				img 
					border-radius 1em
					margin 100px 0 0 0
					height 40%
					width 40%

	footer
		background naranja
		color white
		text-align center
		padding 0.8em 0
		
		h3
			font-size 14px
			font-weight normal
			
			&:after
				content " --"
				
			&:before
				content "-- "		